.about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
}

.izquierdoa{
    background-color: beige;
    width: 25%;
    display: flex;
    justify-content: left;
    margin-top: 10%;
    padding: 30px;
}

.izquierdoa img{
    margin: -60px auto 0;
    margin-left: 5%;
    width: 200px;
    height: 300px;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 85px;

}

.derechoa{
    background-color: beige;
    width: 25%;
    display: flex;
    justify-content: left;
    margin-top: 10%;
    padding: 30px;
}

.derechoa img{
    margin: -60px auto 0;
    margin-left: 5%;
    width: 200px;
    height: 300px;
}

i{
    padding: 7px;
    color: lightslategray;
    text-decoration: none;
}

.boton-readmore{
    background-color: rgb(214, 214, 6);
    color: white;
    border: none;
    width: 130px;
    height: 50px;
}
